body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{ 
    align-self: center;
}
div > a {
    text-decoration: none;
    color: gray;
}

.p-container{
    display: flex;
    height: 100cqmax;
    column-gap: 30px;
}

.Profil, .left{
    background-color: rgb(249, 250, 218);
}
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* align-items: center; */
}
.right{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.left-of-profil{
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
    width: 70px;
}
.Profil{
    justify-content: center;
    align-items: center;
    height: 65px;
    padding-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 10px

}
.logo-img, .logo-img-log{
    width: 100px;
    border-radius: 100%;
    margin-top: 20px;
    border-color: red;
    border-style: solid;
    border-width: 1px;
}
.logo-img-log{
    width: 250px;
}
.subleft{
    width: 180px;
    align-self: center;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 60px;
}
.subleft-item{
    border-radius: 7px;
    color: rgb(108, 106, 106);
    padding: 5px;
}
.subleft-item:hover, div > div > div > a:hover{
    background-color: rgb(251, 173, 139);
    color:rgb(196, 53, 53);
    padding: 10px;
}
.summary{
    height: 75px;
    column-gap: 15px;
}
.summary-child{
    align-self: center;
    border-style: solid;
    background-color: rgb(243, 246, 246);
    color: rgba(45, 8, 8, 0.611);
    /* border-radius: 8px; */
    padding: 10px 15px;
    border-color: rgb(242, 195, 201);
    border-width: 1px;
}
