<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/logo/Make up Artist Logo Design/2.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
        <title>
            {% block title %}Default Title{% endblock %}
        </title>
    </head>
    <body>
        {% block main %}
        {% endblock %}
        <script src="/dkj_business/static/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
